<style>
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  .navbar-nav>li {
    float: none;
    text-align: center;
    display: inline-block;
  }
</style>
<nav class="navbar navbar-fixed-bottom">
  <div class="container-fluid">
      <center>
    <ul class="nav navbar-nav">
      <li><a href="/"><span class="glyphicon glyphicon-home"></span></li></a>
      <li><a href="/"><span class="glyphicon glyphicon-map-marker"></span></li></a>
      <li><a href="/"><span class="glyphicon glyphicon-search"></span></li></a>
      <li><a href="/"><span class="glyphicon glyphicon-globe"></span></li></a>
      <li><a href="/"><span class="glyphicon glyphicon-cog"></span></li></a>
    </ul>
    </center>
  </div>
</nav>