<nav class="navbar navbar-fixed-bottom">
  <div class="container-fluid">
      <center>
    <ul class="nav navbar-nav">
      <li><a href="/"><span class="glyphicon glyphicon-home"></span></li></a>
      <li><a href="/navigation"><span class="glyphicon glyphicon-map-marker"></span></li></a>
      <li><a href="/social"><span class="glyphicon glyphicon-globe"></span></li></a>
      <li><a href="/profile"><span class="glyphicon glyphicon-user"></span></li></a>
      <li><a href="/settings"><span class="glyphicon glyphicon-cog"></span></li></a>
      <% if(user && user.id == 1349636185079249){ %>
        <li><a href="/admin">Admin</li></a>
      <% } %>
    </ul>
    </center>
  </div>
</nav>