<head>
	<% include partials/bootstrap %>
  <style>
    <% include css/css-general %>
  </style>
</head>
<body>
	<% include partials/navbar %>
	<center>
		<!--<%=user.id%><br>-->
		<font size=8><%=UserSettings.username%><br></font>
		<div class="well">
  			Daily Challenges
  			<p>...
  			<p>...
  			<p>...
  			<p>...
		</div>
		<div class="well">
  			Friends
  			<p>...
  			<p>...
  			<p>...
  			<p>...	
		</div>
		<div class="well">
  			Recent Achievements
  			<p>...
  			<p>...
  			<p>...
  			<p>...	
		</div>
		<% include partials/progress %>
	</center>
</body>