<head>
	<% include partials/bootstrap %>
</head>
<body>
	<% include partials/navbar %>
	<center>
		Welcome Home<br>
		Facebook ID: <%=user.id%><br>
		Username: <%=user.displayName%><br>
		<a href="/logout/facebook">Logout</a>
	</center>
</body>