<head>
	<% include partials/bootstrap %>
  <style>
    <% include css/css-general %>
    #page {
    	padding-top: 8%;
    }
  </style>
</head>
<body>
	<% include partials/navbar %>
	<% if (!user) { %>
		<center>
		<div id="page">
			<img src="logo.png" height="25%"></img><br>
			<a href="/login/facebook">
				<button type="button" class="btn btn-primary">Connect With Facebook</button>
			</a>
		</div>
		</center>
	<% } else {%>
		<center>
			You're logged in!<br>
			<a href="/">Go Home</a><br>
			<a href="/logout/facebook">Logout</a>
		</center>
	<% } %>
</body>