<head>
	<% include partials/bootstrap %>
  <style>
    <% include css/css-general %>
  </style>
</head>
<body>
	Navigation...
	<a href="http://maps.apple.com/?q=38.897096,-77.036545">Open Map</a>
	<% include partials/navbar %>
</body>
