<head>
	<% include partials/bootstrap %>
  <style>
    <% include css/css-general %>
  </style>
</head>
<body>
	<center>
		<img src="http://1plusx.com/app/mu-plugins/all-in-one-seo-pack-pro/images/default-user-image.png" height="15%"><br>
		<h1>4xxEnergySuckbagx2xxx0</h1><br>
		<p>Bio: I have a family of four and I love saving energy for my house! This app is the greatest! 5 stars!</p><br>
		<p>Level 23</p><br>
		<p>Recent Acheivements</p><br>
		<p>In Progress...</p><br>
	<center>
	<% include partials/progress %>
	<% include partials/navbar %>
</body>