<head>
  <% include partials/bootstrap %>
  <style>
    <% include css/css-general %>
  </style>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
  </script>
  <script>
    $(document).ready(function(){
      // set the attribute source to the right arrow image
       $("#building").attr("src","rightArr.png");
      // Displays a different image when clicked on to show/hide attributes
      $("#building").click(function(){
        // Check if the input fields are displayed
        if($("#dispBuild").hasClass("collapse in")){
          // set the attribute source to the right arrow image
         $("#building").attr("src","rightArr.png");
        }else
        {
          // set the attribute source to the down arrow image
          $("#building").attr("src","downArr.png");
        }
      });
    });
  </script>
</head>
<body>
	<% include partials/navbar %>
	<% if(set==false) { %> 
    <div class="alert alert-danger">
      <center><strong>Wait!</strong> Let's set your settings before you start saving energy.</center>
    </div>
  <% } %>
  <center>
  <h1>Settings</h1>
	<form action="/set-user-settings" method="post">
    <label>Username:</label> 
    <input type="text" name="username" value="<%= UserSettings.username %>"><br>
    <label for="transportation">Personal Transportation</label>
    <select class="form-control" name="transportation">
      <option>SUV</option>
      <option>Passenger</option>
      <option>Truck</option>
      <option>Van</option>
      <option>Motorcycle</option>
    </select>
    <h2>Your first building</h2>
    <input type="image" id="building" width="20" height="20" data-toggle="collapse" data-target="#dispBuild" onClick="return false;"/>
    <br>
    <div id="dispBuild" class="collapse">
      <div class="column-left">
        <label for="transportation">Rooms:</label>
        <select class="form-control" name="rooms">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
        </select>
        <label for="transportation">Floors:</label>
        <select class="form-control" name="floors">
         <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
      <div class="column-center">
        <label for="transportation">Furnace:</label>
        <select class="form-control" name="furnace">
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
        <label for="transportation">Bathroom:</label>
        <select class="form-control" name="bathrooms">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
      <div class="column-right">
        <label for="transportation">AC:</label>
        <select class="form-control" name="ac">
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
        <label for="transportation">Windows:</label>
        <select class="form-control" name="windows">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
        </select>
      </div>  
    </div>
  	<button type="submit" class="btn btn-primary">Submit</button>
    <a href="/logout/facebook"><button type="button" class="btn btn-danger">Logout</button></a>
  </form>
</body>