<head>
	<% include partials/bootstrap %>
</head>
<body>
	<% include partials/navbar %>
	<% if(set==false) { %> 
    	<div class="alert alert-danger">
      		<center><strong>Wait!</strong> Let's set your settings before you start saving energy.</center>
    	</div>
  	<% } %>
  	<center>
		<form action="/set-settings" method="post">
  			Username: <input type="text" name="username"><br>
  			<input type="submit" value="Submit">
		</form>
	</settings>
</body>