<head>
	<% include partials/bootstrap %>
  <style>
    <% include css/css-general %>
  </style>
</head>
<body>
	Social...
	<% include partials/progress %>
	<% include partials/navbar_social %>
</body>